@font-face {
	font-family: 'nautilus';
	src: url(../fonts/nautilus.otf);
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}

/* TOP MENU */

.top-menu {
	background: url(../img/line-top.png) repeat-x;
	background-color: #fff;
	height: 85px;
	padding-top: 20px;
}
.top-item {
	width: 100%;
}
.one-top {
	text-align: left;
	padding-left: 55%;
	padding-top: 5px;
}
.two-top {
	padding-top: 5px;
	text-align: center;
}
.three-top {
	text-align: right;
	padding-right: 55%;
}
.two-top-block {
	text-align: center;
}
.top-item a, .top-item img {
	vertical-align: middle;
}
.one-top a, .two-top a {
	margin-left: 15px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.one-top a {
 	font-weight: 700;
}
.two-top a {
	font-weight: 300;
}
.three-top a:first-child {
	margin-right: 31px;
}

/* LOGO AND NAV */

.nav {
	padding: 10px;
	height: 103px;
}
.logo-block {
	padding-left: 55%;
}
.nav-list-block {
	width: 100%;
	text-align: center;
	padding-right: 25%;
}
.nav-list {
	list-style: none;
	text-align: right;
	margin-top: 17px;
}
.nav-list li {
	display: inline-block;
	text-align: right;
	padding: 10px 20px 0 0;
}
.nav-list li:hover {
	cursor: pointer;
}
.nav-list li:hover a {
  background-image: -webkit-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
  background-image: -o-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
  background-image: linear-gradient(to top, #4c3185 0%, #8b1cc3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-list li a::after {
	display: block;
	margin-top: 3px;
	content: '';
	background-image: -webkit-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
	background-image: -o-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
	background-image: linear-gradient(to top, #4c3185 0%, #8b1cc3 100%);
	height: 1px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	width: 100%;
	transition: .3s;
	transform: scaleX(0);
}
.nav-list li:hover a::after {
	transform: scaleX(1);
}
.nav-list li a {
	font-size: 14px;
	text-transform: uppercase;
	color: #5f5e5e;
	text-decoration: none;
	transition: .3s;
} 



/*    MAIN BANNER    */

.main-img {
	background: url(../img/main-img.jpg) no-repeat;
	background-size: cover;
  height: 510px;
  padding-top: 10%;
  width: 100%;
  text-align: center;
}
.main-img h1 {
	text-align: center;
	font-weight: 300;
	font-family: 'nautilus';
	font-size: 59px;
	color: #fff;
}
.main-img a, .main-img-two a {
	display: inline-block;
	padding:12px 25px;
	margin-top: 45px;
	color:#fff;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	background-image: -webkit-linear-gradient(#4c3185 0%, #8b1cc3 100%);
	background-image: -o-linear-gradient(#4c3185 0%, #8b1cc3 100%);
	background-image: linear-gradient(#4c3185 0%, #8b1cc3 100%);
	border: none;
	border-radius: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);\
	transition: .3s;
}
.main-img a:hover ,.services-block a:hover ,.main-img-two a:hover {
	background-image: -webkit-linear-gradient(#8b1cc3 100%, #4c3185 0%);
	background-image: -o-linear-gradient(#8b1cc3 100%, #4c3185 0%);
	background-image: linear-gradient(#8b1cc3 100%, #4c3185 0%);
}
.slider-btn {
	text-align: center;
	margin-top:50px;
}
.slider-btn button {
	display: inline-block;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	border: none;
	margin:0 4px;
	outline: none;
	cursor: pointer;
	transition: .3s;
}



/*    Content Box    */

.content-box {
	background: url(../img/content-bck.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	height: 1000px;
	width: 100%;
	padding: 40px 0;
}

/*    about us and our services */


.about-us h1, .our-services h1 {
	font-size:41px;
	font-weight: 400;
  background-image: -webkit-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
  background-image: -o-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
  background-image: linear-gradient(to top, #4c3185 0%, #8b1cc3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
}
.about-block {
	padding-top: 80px;
}
.about-block {
	width: 100%;
}
.about-block img {
	border-radius: 50%;
	box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.about-block h3 {
	font-size: 13px;
	font-weight: 900;
	color: #737373;
	text-transform: uppercase;
	margin-top: 15px;
}
.about-block h3:after {
	display: block;
	content: '';
	background-image: -webkit-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
	background-image: -o-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
	background-image: linear-gradient(to top, #4c3185 0%, #8b1cc3 100%);
	height: 1px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.4);
	width: 45px;
	transition: .3s;
	margin:15px auto;
}
.about-block p, .services-block p {
	font-size: 12px;
	text-align: center;
	color: #737373;
	display: block;
	font-weight: 400;
}
.one-about-item, .two-about-item, .three-about-item {
	text-align: center;
}
.one-about-item {
	padding-left: 54%;
}
.three-about-item {
	padding-right: 54%;
}

/*Our services*/

.our-services {
	padding-top: 75px;
}
.services-block {
	width: 100%;
	padding-top: 65px;
	margin-top: 0;
	margin-bottom: 0;
}
.service-left {
	text-align: right;
}
.service-right {
	text-align: left;
}
.services-item {
	border: none;
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.2);
	display: inline-block;
	margin: 0 auto;
}
.serv-text-block {
	padding-top: 10px;
	text-align: center;
}

.services-block a {
	display: inline-block;
	padding:9px 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	margin-bottom: 20px;
	color:#fff;
	font-weight: 700;
	font-size: 11px;
	text-decoration: none;
	background-image: -webkit-linear-gradient(#4c3185 0%, #8b1cc3 100%);
	background-image: -o-linear-gradient(#4c3185 0%, #8b1cc3 100%);
	background-image: linear-gradient(#4c3185 0%, #8b1cc3 100%);
	border: none;
	border-radius: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);\
	transition: .3s;
}
.services-block h3 {
	font-size:21px;
	font-weight: 400;
  background-image: -webkit-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
  background-image: -o-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
  background-image: linear-gradient(to top, #4c3185 0%, #8b1cc3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  line-height: 21px;
  margin-bottom: 10px;
}
.services-block h4 {
	font-size:21px;
	font-weight: 400;
  line-height: 21px;
  margin-top: 10px;
  color: #737373;
}
.services-block h4 span{
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 900;
	background-image: -webkit-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
  background-image: -o-linear-gradient(bottom, #4c3185 0%, #8b1cc3 100%);
  background-image: linear-gradient(to top, #4c3185 0%, #8b1cc3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*  MAIN IMG TWO  */

.main-img-two {
	background: url(../img/main-img-two.png) no-repeat;
	width: 100%;
	background-size: 100%;
	height: 780px;
	padding-top: 200px;
	margin-top: 100px;
}
.main-img-two h1 {
	font-size: 285px;
	font-family: 'nautilus';
	text-align: center;
	color: #fff;
}
.main-img-two p {
	font-size: 35px;
	font-family: 'nautilus';
	text-align: center;
	margin-top: 50px;
	color: #fff;
}


/*     МЕДИА ЗАПРОСЫ     */
@media screen and (max-width: 1200px) {
	.one-top, .logo-block {
		padding-left: 40%;
	}
	.three-top {
		padding-right: 40%;
	}
	.nav-list-block {
		padding-right: 15%;
	}
	.slider-btn {
		margin-top: 55px;
	}
	.one-about-item {
		padding-left: 40%;
	}
	.three-about-item {
		padding-right: 40%;
	}
}
@media screen and (max-width: 991px) {
	.one-top, .logo-block {
		padding-left: 20%;
	}
	.three-top {
		padding-right: 20%;
	}	
	.nav-list-block {
		padding-right: 10%;	
	}
	.three-top a:last-child {
		margin-right: 10px;
	}
	.slider-btn {
		margin-top:70px;
	}
	.one-about-item {
		padding-left: 20%;
	}
	.three-about-item {
		padding-right: 20%;
	}
}
@media screen and (max-width: 768px) {
	.three-top a:first-child {
		margin-right: 31px;
	}
	.one-top {
		text-align: center;
	}
	.three-top {
		text-align: center;
	}
	.logo-block {
		text-align: center;
	}
	.slider-btn {
		margin-top:80px;
	}
}
@media screen and (max-width: 767px) {
	.service-left, .service-right {
		text-align: center;
	}
	.top-menu {
		height: 160px;
		background-size: cover;
		padding-top: 10px;
	}
	.nav {
		height: 160px;
	}
	.one-top, .logo-block {
		padding-left: 0;
	}
	.two-top {
		padding-top: 10px;
	}
	.three-top {
		padding-top: 15px;
		padding-right: 0;
	}
	.three-top a:first-child {
		margin-right: 10px;
	}
	.logo-block {
		text-align: center; 
	}
	.nav-list-block {
		display: block;
		padding-right: 10px;
		padding-left: 10px;
	}
	.nav-list {
		text-align: center;
	}
	.nav-list li {
		text-align: center;
	}
	.main-img{
		background-position: -200px 0;
	}
	.one-about-item {
		padding-left: 0;
	}
	.three-about-item {
		padding-right: 0;	
	}
}
@media screen and (max-width: 551px) {
	.nav-list-block {
		padding-right: 20%;
		padding-left: 20%;
	}
	.nav {
		height: 200px;
	}
}
@media screen and (max-width: 431px) {
	.nav-list-block {
		padding-right: 15%;
		padding-left: 15%;
	}
}
@media screen and (max-width: 376px) {
	.nav-list-block {
		padding-right: 10%;
		padding-left: 10%;
	}
	.main-img h1 {
		font-size: 55px;
	}
	.main-img {
	  height: 460px;
	}
	.main-img a {
		margin-top: 35px;
	}
	.slider-btn {
		margin-top: 50px;
	}
}
@media screen and (max-width: 336px) {
	.nav-list-block {
		padding-right: 0;
		padding-left: 0;
	}
	.main-img h1 {
		font-size: 45px;
	}
	.main-img {
	  height: 420px;
	}
}